{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

    <!-- Display title/summary -->
    <div class="container my-1">
        <h1>Blog</h1>
        <p>I created this blog to share knowledge, solve problems, and connect with fellow developers.
            Programming can be challenging, but through writing, I aim to simplify complex concepts,
            document my learning journey, and provide practical insights that others can benefit from.
            It's my way of giving back to the tech community while continuously growing and staying inspired
            by the ever-evolving world of code.</p>
        <p>Take a look at some of my posts below or browse them by topic. Thanks for stopping by!</p>
    </div>

    <!-- Display topics -->
    <div class="container my-3 bg-body-tertiary p-3 rounded-3">
        <h4>Browse By Topic:</h4>
        <div class="container">
            {% for topic_slug in posts|unique_topics %}
                <button class="btn btn-primary" hx-get="{% url 'blog_by_topic_htmx' topic_slug %}"
                   hx-target="#posts-container"
                   hx-swap="innerHTML">
                    {{ topic_slug }}
                </button>
            {% endfor %}
            <button class="btn btn-primary" hx-get="{% url 'blog_by_topic_htmx' 'all' %}"
               hx-target="#posts-container"
               hx-swap="innerHTML">
               ALL
            </button>
        </div>
    </div>

    <!-- Display posts -->
    <div id="posts-container" class="container my-3">
        <h2>{{ topic }}</h2>
        {% for post in posts %}
            <div class="card my-1">
                <div class="card-body">
                    <h5>{{ post.title }}</h5>
                    <p>Posted on: {{ post.posted_date.date }}</p>
                    <p class="card-text">{{ post.preview }}</p>
                    <p><a class="btn btn-secondary" href="{% url 'blog_post' post.topic_slug post.title_slug %}">Read More</a></p>
                    {% if topic_slug == 'all' %}
                        <span class="badge text-bg-warning">{{ post.topic }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}