{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="p-5 mb-4 bg-body-primary rounded-3 row">
      <div class="container-fluid col">
        <h1 class="display-5 fw-bold">About Me</h1>
        <p class="col-md-10 fs-4">I'm a healthcare professional and software enthusiast. I currently work as a data analyst and aiming to move into the tech space.
            This is my personal website that showcases a summary of what I've worked on along with blog posts.</p>
      </div>
    <div class="d-none d-lg-block col-4 text-center position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <img class="center img-thumbnail rounded" alt="Matthew Johnson's headshot" src="{% static 'images/MJ_headshot_crop.jpg' %}"/>
        </div>
    </div>
</div>

{% endblock %}