{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="p-5 mb-4 bg-body-primary rounded-3">
    <div class="d-none d-lg-block text-center position-relative">
        <img style="max-width: 300px; max-height: 300px" class="center img-thumbnail rounded" alt="Matthew Johnson's headshot" src="{% static 'images/MJ_headshot_crop.jpg' %}"/>
    </div>
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">About Me</h1>
        <p class="fs-4">As a data analyst in the healthcare industry, I’ve had the privilege of leveraging
            data to improve patient outcomes and drive meaningful change. Over time, I’ve developed a passion for
            technology and its ability to solve complex problems on a larger scale. I want to transition into the tech
            space to expand my impact, apply my analytical skills to innovative projects, and contribute to building
            solutions that shape the future.</p>
    </div>
</div>

{% endblock %}